@model My_Project.Areas.Client.ViewModels.CustomerViewModel

@{
    ViewData["Title"] = "CustomerReg";
    Layout = null;
}


<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>


<form asp-action="CustomerReg" asp-area="Client" asp-controller="Client" enctype="multipart/form-data">

    <div class="row">
        <div class="col-6">

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-book-open-reader"></i>
                        </div>
                    </div>
                    <input asp-for="User_FirstName" tabindex="41" class="form-control" placeholder="First Name" required />
                    <span asp-validation-for="User_FirstName" class="text-danger" id="errorFirstName"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-user-plus"></i>
                           
                        </div>
                    </div>
                    <input asp-for="User_UserName" tabindex="43" class="form-control" placeholder="Enter Username" required/>
                    <span asp-validation-for="User_UserName" class="text-danger" id="errorUserName"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-map"></i>
                        </div>
                    </div>
                    <input asp-for="User_Address" tabindex="45" class="form-control" placeholder="Enter Address" required/>
                    <span asp-validation-for="User_Address" class="text-danger" id="errorAddress"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-at"></i>
                            
                        </div>
                    </div>
                    <input type="email" asp-for="User_Email" tabindex="47" class="form-control" placeholder="Enter Email" required/>
                    <span asp-validation-for="User_Email" class="text-danger" id="errorEmail"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-location-pin"></i>
                        </div>
                    </div>
                    <input asp-for="User_State" tabindex="49" class="form-control" placeholder="Enter State" required/>
                    <span asp-validation-for="User_State" class="text-danger" id="errorState"></span>
                </div>
            </div>

        </div>
        <div class="col-6">

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-book-open-reader"></i>
                        </div>
                    </div>
                    <input asp-for="User_LastName" tabindex="42" class="form-control" placeholder="Enter Lastname" required/>
                    <span asp-validation-for="User_LastName" class="text-danger" id="errorLastName"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-key"></i>
                        </div>
                    </div>
                    <input type="password" asp-for="User_Password" class="form-control" tabindex="44" placeholder="Password" id="pass2" required/>
                    <span asp-validation-for="User_Password" class="text-danger" id="Password"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                    </div>
                    <input asp-for="User_PhoneNo" tabindex="46" class="form-control" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" placeholder="Enter Contact No"  minlength="10" maxlength="10" required/>
                    <span asp-validation-for="User_PhoneNo" class="text-danger" id="errorPhoneNo"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-city"></i>
                        </div>
                    </div>
                    <input asp-for="User_City" tabindex="48" class="form-control" placeholder="Enter City" required />
                    <span asp-validation-for="User_City" class="text-danger" id="errorCity"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-location-pin"></i>
                        </div>
                    </div>
                    <input asp-for="User_ZipCode" tabindex="50" class="form-control" placeholder="Enter Zipcode" required />
                    <span asp-validation-for="User_ZipCode" class="text-danger" id="errorZipCode"></span>
                </div>
            </div>
            
        </div>
    </div>
    <input type="submit" value="Register" class="btn btn-success btn-block" id="btnsubmit" />
</form>




