
@{
    ViewData["Title"] = "CustomerLogin";
    Layout = null;
}

<style>
    
    .global-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        background-color: transparent !important;
        border: 0px !important
    }

    form {
        padding-top: 10px;
        font-size: 14px;
        margin-top: 30px;
    }

    .card-title {
        font-weight: 300;
    }


    .login-form {
        width: 330px;
        margin: 20px;
    }

    .sign-up {
        text-align: center;
        padding: 20px 0 0;
    }

    
    .alert {
        margin-bottom: -30px;
        font-size: 13px;
        margin-top: 20px;
    }
    .modal-content {
        background-color: transparent !important;
        border: 0px !important
    }

    .modal-header {
        border: 0px !important
    }
    .modal.fade .modal-dialog {
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        transform: translate(0);
    }
    .feedback {
        position: absolute;
        bottom: -70px;
        width: 100%;
        text-align: center;
        color: #fff;
        background: #2ecc71;
        padding: 10px 0;
        font-size: 12px;
        display: none;
        opacity: 0;
    }

        .feedback:before {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(46, 204, 113, 0);
            border-bottom-color: #2ecc71;
            border-width: 10px;
            margin-left: -10px;
        }
</style>

<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Log in to Foodz</h3>
            <div class="card-text">
                <!--
    <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                <form method="post">
                    <!-- to error: add class "has-danger" -->
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text" name="Uname" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        @*<a href="#" style="float:right;font-size:12px;">Forgot password?</a>*@
                        <input type="password" name="Pass" class="form-control form-control-sm" id="exampleInputPassword1">
                    </div>
                    <div>
                        <span class="text-danger" id="errorlog"></span>
                    </div>
                    <button class="btn btn-primary btn-block" id="btnLogin">Sign in</button>
                    <button type="button" class="btn btn-dark btn-block text-white" id="btnclose">Close </button>

                    <div class="sign-up">
                        Don't have an account? <a onclick="showInPopup('@Url.Action("CustomerReg","Client",null,Context.Request.Scheme)','Customer Registration')" class="text-primary">Create One</a>
                    </div>
                </form>
                <div class="feedback">
                    Please wait <br />
                    while redirecting...
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#btnclose").click(() => {
        $("#form-modal").hide();
    })

    $('#btnLogin').click(() => {
        var formData = $('form').serializeArray();
        $(".feedback").show().animate({ opacity: "1", bottom: "-80px" }, 400);
        event.preventDefault();
        $.ajax({
            url:location3 + "CustomerLogin",
            type: "Post",
            data: formData,
            success: function (response) {
                console.log("response");
                if (response != "") {
                    window.location.href = location3 + "CustomerIndex";
                }
                else {
                    $(".feedback").hide();
                    document.getElementById("errorlog").innerHTML = "Username or Password is incorrect ";
                }
            },
             failure: function (response) {
                console.log("failure");
                alert(response.responseText);
            },
            error: function (response) {
                alert("error");
                alert(response.responseText);
            }
        })
    })
</script>