
@{
    ViewData["Title"] = "CustomerLogin";
    Layout = null;
}

<style>
    html,
    body {
        height: 100%;
    }

    .global-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        background-color: transparent !important;
        border: 0px !important
    }

    form {
        padding-top: 10px;
        font-size: 14px;
        margin-top: 30px;
    }

    .card-title {
        font-weight: 300;
    }

    .btn {
        font-size: 14px;
        margin-top: 20px;
    }

    .login-form {
        width: 330px;
        margin: 20px;
    }

    .sign-up {
        text-align: center;
        padding: 20px 0 0;
    }

    
    .alert {
        margin-bottom: -30px;
        font-size: 13px;
        margin-top: 20px;
    }
    .modal-content {
        background-color: transparent !important;
        border: 0px !important
    }

    .modal-header {
        border: 0px !important
    }
    .modal.fade .modal-dialog {
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        transform: translate(0);
    }
</style>

<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Log in to Foodz</h3>
            <div class="card-text">
                <!--
                <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                <form method="post">
                    <!-- to error: add class "has-danger" -->
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="text" name="Uname" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <a href="#" style="float:right;font-size:12px;">Forgot password?</a>
                        <input type="password" name="Pass" class="form-control form-control-sm" id="exampleInputPassword1">
                    </div>
                    <button class="btn btn-primary btn-block" id="btnLogin">Sign in</button>
                    <button class="btn btn-dark btn-block text-white" id="btnclose">Close </button>

                    <div class="sign-up">
                        Don't have an account? <a onclick="showInPopup('@Url.Action("CustomerReg","Client",null,Context.Request.Scheme)','Customer Registration')" class="text-primary">Create One</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $("#btnclose").click(() => {
        window.location = location3 + "Index";
        $("#form-modal").hide();


    })

    $('#btnLogin').click(() => {
        var formData = $('form').serializeArray();
        event.preventDefault();
        $.ajax({
            url:location3 + "CustomerLogin",
            type: "Post",
            data: formData,
            success: function (response) {
                console.log("response");
                if (response != "")
                {
                    alert("Success");
                    window.location.href = location3 + "CustomerIndex";
                }
               else
                   showInPopup('@Url.Action("CustomerLogin","Client",null,Context.Request.Scheme)','Customer Login')
            },
             failure: function (response) {
                console.log("failure");
                alert(response.responseText);
            },
            error: function (response) {
                alert("error");
                alert(response.responseText);
            }
        })
    })
</script>