
@{
    ViewData["Title"] = "ResetPassword";
    Layout = null;
}

<style>
    @@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
/**
 * General markup.
 */

.container.is-amnesia {
  background-color: #757575;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  border: 0;
  border-radius: 2px;
}

/**
 * Card content.
 */
.card__content {
  padding: 16px;
  color: inherit;
  line-height: 20px;
  font-size: 14px;
}
.card__content > :first-child {
  margin-top: 0;
}
.card__content > :last-child {
  margin-bottom: 0;
}
/**
 * Card action.
 */
.card__action {
  display: flex;
  padding: 8px;
  flex-direction: row;
  justify-content: space-between;
}
.card__action + .card__action {
  padding-top: 0;
}
.card__action--center {
  justify-content: center;
}
.card__action--center .btn + .btn {
  margin-left: 8px;
}
/* --------------------------------
 * Inputfields.
 * -------------------------------- */
.inputfield {
  position: relative;
  padding: 20px 0;
}
/**
 * Inputfields input.
 */
.inputfield__input {
  display: block;
  padding: 4px 0;
  width: 100%;
  color: #757575;
  font-size: 16px;
  line-height: 21px;
  background-color: transparent;
  border: 0 solid rgba(0, 0, 0, 0.12);
  border-bottom-width: 1px;
  outline: none;
}
/**
 * Inputfields label.
 */
.inputfield__label {
  position: absolute;
  top: 24px;
  left: 0;
  display: block;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  pointer-events: none;
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.inputfield.is-dirty .inputfield__label,
.inputfield__input:focus ~ .inputfield__label {
  top: 0;
  font-size: 12px;
  font-weight: 500;
  transition-duration: 0.14s;
}
.inputfield.is-dirty .inputfield__label {
  color: #bdbdbd;
}
.inputfield__input:focus ~ .inputfield__label {
  color: #00bcd4;
}
.required {
  color: #f44336 !important;
  font-style: normal;
}
/**
 * Inputfields under-line.
 */
.inputfield__underline {
  position: absolute;
  bottom: 20px;
  left: 50%;
  right: 50%;
  height: 2px;
  background-color: #00bcd4;
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.inputfield__input:focus ~ .inputfield__underline {
  left: 0%;
  right: 0%;
}
/* --------------------------------
 * Buttons.
 * -------------------------------- */
</style>


<div class="card shadow-2dp" id="amnesiaForm">
    <div class="card__content">
        <div class="inputfield">
            <input class="inputfield__input" placeholder="Username" type="text" id="username">
            <label class="inputfield__label"></label>
            <span class="inputfield__underline"></span>
        </div>
        <div class="inputfield">
            <input class="inputfield__input" placeholder="Email" type="email" id="email">
            <label class="inputfield__label"></label>

        </div>
        <span class="text-danger" id="ResetPasswordError"></span>
    </div>
    <div class="card__action">
        <button class="btn btn--flat btn--primary" type="button" id="btnForgetPassword">
            Reset password
        </button>
        <button class="btn btn--flat" type="button">
            Cancel
        </button>
    </div>
</div>
<script>


    $('#btnForgetPassword').click(() => {
        var username = $('#username').val();
        var email = $('#email').val();
        $.ajax({
            url: location3 + "ResetPassword",
            type: "Post",
            data: { Username: username, Email: email },
            success: (response) => {
                console.log(response);
                if (response == "wrong") {
                    $('#ResetPasswordError').html("Username Or email is incorrect");
                }
                else if (response == "true") {
                    toastMixin.fire({
                        animation: true,
                        title: "Password Updated Successfully"
                    });
                    showInPopup('@Url.Action("CustomerLogin", "Client", null, Context.Request.Scheme)', '');
                }
            }
        })
    })
</script>