@model My_Project.Areas.Client.ViewModels.CustomerViewModel

@{
    ViewData["Title"] = "UpdateCustomer";
    Layout = null;
}
<form asp-action="UpdateCustomer" asp-area="Client" asp-controller="Client" enctype="multipart/form-data">

    <div class="row">
        <div class="col-6">
            <input type="hidden" asp-for="User_Id" />
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-book-open-reader"></i>
                        </div>
                    </div>
                    <input asp-for="User_FirstName" tabindex="41" class="form-control" placeholder="First Name" required />
                    <span asp-validation-for="User_FirstName" class="text-danger"></span>
                </div>
            </div>

            <input type="hidden" asp-for="User_UserName" />
            <span asp-validation-for="User_UserName" class="text-danger" id="UserError2"></span>


            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-map"></i>
                        </div>
                    </div>
                    <input asp-for="User_Address" tabindex="45" class="form-control" placeholder="Enter Address" required />
                    <span asp-validation-for="User_Address" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-at"></i>

                        </div>
                    </div>
                    <input asp-for="User_Email" tabindex="47" class="form-control" placeholder="Enter Email" required />
                    <span asp-validation-for="User_Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-location-pin"></i>
                        </div>
                    </div>
                    <input asp-for="User_State" tabindex="49" class="form-control" placeholder="Enter State" required />
                    <span asp-validation-for="User_State" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="col-6">

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-book-open-reader"></i>
                        </div>
                    </div>
                    <input asp-for="User_LastName" tabindex="42" class="form-control" placeholder="Enter Lastname" required />
                    <span asp-validation-for="User_LastName" class="text-danger"></span>
                </div>
            </div>


            <input type="hidden" asp-for="User_Password" class="form-control" tabindex="44" placeholder="Password" id="pass2" required />


            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                    </div>
                    <input asp-for="User_PhoneNo" tabindex="46" class="form-control" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" placeholder="Enter Contact No" min-length="10" maxlength="10" required />
                    <span asp-validation-for="User_PhoneNo" class="text-danger"></span>
                </div>
            </div>



            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-city"></i>
                        </div>
                    </div>
                    <input asp-for="User_City" tabindex="48" class="form-control" placeholder="Enter City" required />
                    <span asp-validation-for="User_City" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-location-pin"></i>
                        </div>
                    </div>
                    <input asp-for="User_ZipCode" tabindex="50" class="form-control" placeholder="Enter Zipcode" required />
                    <span asp-validation-for="User_ZipCode" class="text-danger"></span>
                </div>
            </div>

        </div>
    </div>
    <input type="submit" value="Update Changes" class="btn btn-success btn-block " id="btnsubmit" />
</form>

<div class="py-3">
    <button type="submit" value="Register" class="btn btn-dark btn-block " id="btnclose">Close</button>
</div>
<script>
    $('#Checkout').hide();
    $('#close').hide();
    $('#btnclose').click(() => {
        $('#form-modal').hide();
    })
</script>
