@model My_Project.Areas.Valet.ViewModels.ValetViewModel

@{
    ViewData["Title"] = "ValetReg";
    Layout = null;
}


<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>


<form asp-action="ValetReg" asp-area="Client" asp-controller="Client" enctype="multipart/form-data" method="post">

    <div class="row">
        <div class="col-6">

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-book-open-reader"></i>
                        </div>
                    </div>
                    <input asp-for="Valet_Name" tabindex="31" class="form-control" placeholder="First Name" required />
                </div>
                <span asp-validation-for="Valet_Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-key"></i>
                        </div>
                    </div>
                    <input type="password" asp-for="Valet_Password" class="form-control" tabindex="33" placeholder="Password" id="pass1" required />
                </div>
                <span asp-validation-for="Valet_Password" class="text-danger" id="Error"></span>
            </div>



            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-map"></i>
                        </div>
                    </div>
                    <input asp-for="Valet_Address" tabindex="35" class="form-control" placeholder="Enter Address" required />
                </div>
                <span asp-validation-for="Valet_Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-at"></i>

                        </div>
                    </div>
                    <input type="email" asp-for="Valet_Email" tabindex="37" class="form-control" placeholder="Enter Email" required />
                </div>
                <span asp-validation-for="Valet_Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-location-pin"></i>
                        </div>
                    </div>
                    <input asp-for="Valet_State" tabindex="39" class="form-control" placeholder="Enter State" required />
                </div>
                <span asp-validation-for="Valet_State" class="text-danger"></span>
            </div>

        </div>
        <div class="col-6">

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-user-plus"></i>

                        </div>
                    </div>
                    <input asp-for="Valet_UserName" tabindex="32" class="form-control" placeholder="Enter Username" required />
                </div>
                <span asp-validation-for="Valet_UserName" class="text-danger" id="Error1"></span>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-key"></i>
                        </div>
                    </div>
                    <input type="password" class="form-control" tabindex="34" placeholder="Re-Password" id="pass22" required />

                </div>
                <span asp-validation-for="Valet_Password" class="text-danger" id="Error12"></span>

            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                    </div>
                    <input asp-for="Valet_PhoneNo" tabindex="36" class="form-control" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" placeholder="Enter Contact No" minlength="10" maxlength="10" required />
                </div>
                <span asp-validation-for="Valet_PhoneNo" class="text-danger"></span>
            </div>



            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-city"></i>
                        </div>
                    </div>
                    <input asp-for="Valet_City" tabindex="38" class="form-control" placeholder="Enter City" required />
                </div>
                <span asp-validation-for="Valet_City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-location-pin"></i>
                        </div>
                    </div>
                    <input asp-for="Valet_Zipcode" tabindex="40" class="form-control" placeholder="Enter Zipcode" required />
                </div>
                <span asp-validation-for="Valet_Zipcode" class="text-danger"></span>
            </div>

        </div>
    </div>
    <input type="submit" value="Register" class="btn btn-success btn-block " id="btnsubmit" />
</form>
<script>
    $("#pass22").keyup(() => {

        console.log('changed');

        var data = document.getElementById("pass1").value;
        var data2 = document.getElementById("pass22").value;
        console.log(data);
        console.log(data2);
        if (data != data2) {
            $('#Error12').text("Password is not same");
        }
        else {
            $('#Error12').text("");
            $('#btnsubmitVendor').attr('disabled', false);
        }
    })

</script>