@model My_Project.Areas.Client.ViewModels.RestaurantDetailViewModel

@{
    ViewData["Title"] = "VendorReg";
    Layout = null;
}
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
</head>


<form asp-action="VendorReg" asp-area="Client" asp-controller="Client" enctype="multipart/form-data">

    <div class="row">
        <div class="col-6">

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-book-open-reader"></i>
                        </div>
                    </div>
                    <input asp-for="Restaurant_Detail_Name" tabindex="1" class="form-control" placeholder="Enter Restaurant Name" required />
                    <span asp-validation-for="Restaurant_Detail_Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-key"></i>
                        </div>
                    </div>
                    <input asp-for="Restaurant_Detail_Password" tabindex="3" class="form-control" placeholder="Enter Password" id="pass1" required/>
                    <span asp-validation-for="Restaurant_Detail_Password" class="text-danger" id="Error2"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-at"></i>
                        </div>
                    </div>
                    <input asp-for="Restaurant_Detail_Email" tabindex="5" class="form-control" placeholder="Enter Email" required/>
                    <span asp-validation-for="Restaurant_Detail_Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-map"></i>
                        </div>
                    </div>
                    <input asp-for="Restaurant_Detail_Address" tabindex="7" class="form-control" placeholder="Enter Restaurant Address" required/>
                    <span asp-validation-for="Restaurant_Detail_Address" class="text-danger"></span>
                </div>
                </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-flag-usa"></i>
                        </div>
                    </div>
                    <input asp-for="Restaurant_Detail_State" tabindex="9"class="form-control" placeholder="Enter State" required/>
                    <span asp-validation-for="Restaurant_Detail_State" class="text-danger"></span>
                </div>
            </div>
       </div>
        <div class="col-6">

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-user-plus"></i>
                        </div>
                    </div>
                    <input asp-for="Restaurant_Detail_User_Name" tabindex="2" class="form-control" placeholder="Enter Username" required/>
                    <span asp-validation-for="Restaurant_Detail_User_Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-check-double"></i>
                        </div>
                    </div>
                    <input type="password" class="form-control" tabindex="4" placeholder="Re-Enter Password" id="pass2" required/>
                    <span asp-validation-for="Restaurant_Detail_Password" class="text-danger" id="Error1"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                    </div>
                    <input asp-for="Restaurant_Detail_PhoneNo" tabindex="6" class="form-control" placeholder="Enter Contact No" required/>
                    <span asp-validation-for="Restaurant_Detail_PhoneNo" class="text-danger"></span>
                </div>
            </div>



            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-city"></i>
                        </div>
                    </div>
                    <input asp-for="Restaurant_Detail_City" tabindex="8" class="form-control" placeholder="Enter City" required />
                    <span asp-validation-for="Restaurant_Detail_City" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa-solid fa-location-pin"></i>
                        </div>
                    </div>
                    <input asp-for="Restaurant_Detail_Zipcode" tabindex="10" class="form-control" placeholder="Enter Zipcode" required />
                    <span asp-validation-for="Restaurant_Detail_Zipcode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    
                    <input type="file" asp-for="img" tabindex="11" class="form-control" required/>
                    <span asp-validation-for="profileImage" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <input type="submit" value="Register" class="btn btn-success btn-block " id="btnsubmit" /> 
   
</form>


<script>
    $("#pass2").keyup(() => {
       
        var data = document.getElementById("pass1").value;
        var data2 = document.getElementById("pass2").value;
        console.log(data);
        if (data == data2) {
            $('#btnsubmit').removeAttr('disabled');
        }
    })
</script>
  