
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}

<style>

    .form-control {
        border-radius: 5px;
    }

    .btn {
        border-radius: 5px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



<div class="container ">

    <div class="py-4 d-flex justify-content-center">
        <label class="text-blue"><i class="fas fa-hamburger"> Change Password</i></label>
    </div>
    <form asp-area="Restaurant" asp-controller="Restaurant" asp-action="ChangePassword" method="post">
        <div class="row  d-flex justify-content-center">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Previous Password" id="prepass" />
                    <span class="text-danger" id="prepassValidator"></span>
                </div>
                <div class="form-group">
                    <input type="password" name="pass" class="form-control" placeholder="Password" id="pass1" />
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Re-enter Password" id="pass2" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="button" value="Send" disabled class="btn btn-success btn-block" id="send" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Security code" id="code" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Change Password" disabled class="btn btn-success btn-block" id="changePass" />
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $('#pass2').keyup(() => {
        var pass = document.getElementById("pass1").value;
        var pass2 = document.getElementById("pass2").value;

        if (pass == pass2) {
            $('#send').removeAttr('disabled');
            console.log("pass same");
        }
        else {
            $('#send').attr('disabled', 'disabled');
            console.log(pass2);
        }

    })
    $('#send').click(() => {

        var pass0 = document.getElementById("prepass").value;

        $.ajax({
            url: location2 + "code",
            type: "Post",
            data: { prepass: pass0 },
            success: function (response) {
                if (response != "false") {
                    console.log(typeof response);
                    var code = Number(response);
                    console.log(code);
                    console.log(typeof code);

                    $("#code").keyup(() => {
                        var inputedCode = document.getElementById("code").value;
                        if (code == inputedCode) {
                            $('#changePass').removeAttr('disabled');
                        }
                        else {
                            $('#changePass').attr('disabled', 'disabled');
                        }
                    })
                }
                else {
                    $('#prepassValidator').html("Previous Password is Wrong");
                }
            }
        })
    })

    //$('#changePass').click(() => {
    //    var pass = document.getElementById("pass1").value;
    //    $.ajax({
    //        url:location2+"UpdatePassword"
    //    })
    //})

</script>