@model My_Project.Areas.Restaurant.ViewModels.RestaurantDetailViewModel

@{
    ViewData["Title"] = "EditRestaurant";
    Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}

<style>
    .form-control {
        border-radius: 5px;
    }
    .btn {
        border-radius: 5px;
    }
</style>

<hr />
<div class="container">
    <div class="row d-flex justify-content-center"  >
        <div class="col-md-4">
            <form asp-action="EditRestaurant" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">

                    <input type="hidden" asp-for="Restaurant_Detail_Id" class="form-control" />
                </div>
                <div class="form-group">

                    <input asp-for="Restaurant_Detail_Name" class="form-control" placeholder="Restaurant Name" />
                    <span asp-validation-for="Restaurant_Detail_Name" class="text-danger"></span>
                </div>

                <div class="form-group">

                    <input asp-for="Restaurant_Detail_Address" class="form-control" placeholder="Address" />
                    <span asp-validation-for="Restaurant_Detail_Address" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <input asp-for="Restaurant_Detail_PhoneNo" class="form-control" placeholder="Contact No" />
                    <span asp-validation-for="Restaurant_Detail_PhoneNo" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <input asp-for="Restaurant_Detail_Email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Restaurant_Detail_Email" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <input asp-for="Restaurant_Detail_City" class="form-control" placeholder="City" />
                    <span asp-validation-for="Restaurant_Detail_City" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <input asp-for="Restaurant_Detail_State" class="form-control" placeholder="State" />
                    <span asp-validation-for="Restaurant_Detail_State" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <input asp-for="Restaurant_Detail_Zipcode" class="form-control" placeholder="Zipcode" />
                    <span asp-validation-for="Restaurant_Detail_Zipcode" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="file" asp-for="img" class="form-control" />
                    <span asp-validation-for="img" class="text-danger"></span>
                </div>
                
                    <input type="submit" value="Save" class="btn btn-primary btn-block " />
                
            </form>
        </div>
    </div>
</div>

