@model IEnumerable<My_Project.Areas.Admin.ViewModels.UserDataViewModel>

@{
    ViewData["Title"] = "ShowUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }

        table caption {
            font-size: 1.5em;
            margin: .5em 0 .75em;
        }

        table tr {
            background-color: #f8f8f8;
            border: 1px solid #ddd;
            padding: .35em;
        }

        table th,
        table td {
            padding: .625em;
            text-align: center;
        }

        table th {
            font-size: .85em;
            letter-spacing: .1em;
            text-transform: uppercase;
        }

    @@media screen and (max-width: 600px) {
        table {
            border: 0;
        }

            table caption {
                font-size: 1.3em;
            }

            table thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            table tr {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: .625em;
            }

            table td {
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: .8em;
                text-align: right;
            }

                table td::before {
                    /*
            * aria-label has no advantage, it won't be read inside a table
            content: attr(aria-label);
            */
                    content: attr(data-label);
                    float: left;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                table td:last-child {
                    border-bottom: 0;
                }
    }
    /* general styling */
    body {
        font-family: "Open Sans", sans-serif;
        line-height: 1.25;
    }

</style>
<div class="py-4">
    <label class="text-blue"><i class="fa-solid fa-user"> User Details</i></label>
</div>


<table class="table" asp-area="Admin">
    <thead>
        <tr>
            <th>
                User Id
            </th>

            <th>
                Contact No
            </th>
            <th>
                Email
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td data-label="ID">
                    @Html.DisplayFor(modelItem => item.User_Id)
                </td>
                <td data-label="Phone No">
                    @Html.DisplayFor(modelItem => item.User_PhoneNo)
                </td>
                <td data-label="Email">
                    @Html.DisplayFor(modelItem => item.User_Email)
                </td>

                <td>
                    <a class="text-blue" asp-controller="Admin" asp-action="ShowOrders" asp-route-Id= "@item.User_Id"><i class="fa-solid fa-cart-arrow-down"></i> Show Orders</a>
                    

                </td>
            </tr>
        }
    </tbody>
</table>

